body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: left;
}
h2 {
  margin: 0 0 .5em 0;
}
a {
  color: #00B7FF;
}
input[type=text] {
  padding: 4px 4px;
  margin: 2px 0;
  font-size: 14px;
  box-sizing: border-box;
}
button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
#wrapper {
  padding-left: 312px;
  padding-right: 312px;
  position: relative;
}
#bookList {
  margin: 0 0 30px 0;
}
#bookList table {
  border-collapse: separate;
  border-spacing: 1px;
  /*background:#CCC;*/
}
#bookList table th {
  background: #EEE;
  font-weight: 600;
  padding: 10px 20px;
  text-align: center;
}
#bookList table tbody {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0px;
}
#bookList table tbody tr,
#bookList table tr:hover {
  background-color: #ffff99;
}
#bookList table td {
  background: #FFF;
  padding: 5px 10px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr {
  margin-left: 20px;
}
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
.select-style {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  font-size: 14px;
  padding: 5px 8px;
  border: none;
  box-shadow: none;
  background: transparent;
}
.select-style select:focus {
  outline: none;
}
